<div class="footer-note">
  <span>The background is my current desktop wallpaper.</span>
  <a class="footer-download" href="{{ site.baseurl }}/assets/wallpaper.jpg" download>Download wallpaper</a>
</div>
<div class="footer-credit">
  Wallpaper by <a href="https://www.figma.com/design/dZ86GPKbKHDLNuBFGpv4Bx/Visual-Vault---By-Ameer-Talha?node-id=0-1&p=f&t=7zL2HSRpokFcrAQc-0">Ameer Talha</a> · more of his work in <a href="https://www.figma.com/design/dZ86GPKbKHDLNuBFGpv4Bx/Visual-Vault---By-Ameer-Talha?node-id=0-1&p=f&t=7zL2HSRpokFcrAQc-0">Visual Vault</a>
</div>
